In [1]:
import pandas as pd


emmissions = {
    "country" : ["China", "India","US"],
    "year" : ["2018","2018","2018"],
    "co2_emmissions" : [11002012.3, 121839132.23, 23989283.2332]
}

In [11]:
emmissions = pd.DataFrame(emmissions)

In [13]:
pd.set_option("display.max_rows",5)
emmissions

  country  year  co2_emmissions
0   China  2018    1.100201e+07
1   India  2018    1.218391e+08
2      US  2018    2.398928e+07

Below command changes the float to be formated to two decimal places

In [16]:
pd.options.display.float_format = "{:,.2f}".format
emmissions

  country  year  co2_emmissions
0   China  2018   11,002,012.30
1   India  2018  121,839,132.23
2      US  2018   23,989,283.23