In [2]:
import pandas as pd

In [7]:
dateRange = pd.period_range("1/1/2020",freq="30d",periods=5)

In [14]:
dateRange

PeriodIndex(['2020-01-01', '2020-01-31', '2020-03-01', '2020-03-31',
             '2020-04-30'],
            dtype='period[30D]')

In [17]:
date_df = pd.DataFrame(data=dateRange,columns=["Sample_Date"])

In [18]:
date_df

  Sample_Date
0  2020-01-01
1  2020-01-31
2  2020-03-01
3  2020-03-31
4  2020-04-30

In [25]:
date_df["date_difference"] = date_df["Sample_Date"].diff(periods=1)

In [26]:
date_df

  Sample_Date date_difference
0  2020-01-01             NaT
1  2020-01-31     <30 * Days>
2  2020-03-01     <30 * Days>
3  2020-03-31     <30 * Days>
4  2020-04-30     <30 * Days>

In [27]:
date_df["first of month"] = date_df["Sample_Date"].values.astype("datetime64[M]")

In [28]:
date_df

  Sample_Date date_difference first of month
0  2020-01-01             NaT     2020-01-01
1  2020-01-31     <30 * Days>     2020-01-01
2  2020-03-01     <30 * Days>     2020-03-01
3  2020-03-31     <30 * Days>     2020-03-01
4  2020-04-30     <30 * Days>     2020-04-01

In [29]:
date_df.dtypes

Sample_Date           period[30D]
date_difference            object
first of month     datetime64[ns]
dtype: object

In [30]:
date_df["Sample_Date"] = date_df["Sample_Date"].dt.to_timestamp()

In [33]:
date_df

  Sample_Date date_difference first of month Date Difference
0  2020-01-01             NaT     2020-01-01          0 days
1  2020-01-31     <30 * Days>     2020-01-01         30 days
2  2020-03-01     <30 * Days>     2020-03-01          0 days
3  2020-03-31     <30 * Days>     2020-03-01         30 days
4  2020-04-30     <30 * Days>     2020-04-01         29 days

In [32]:
date_df["Date Difference"] = date_df["Sample_Date"] - date_df["first of month"]